
/**/
/* fonts */
/**/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
html, body {
	background: #fff;
	font: 400 14px/1 'Open Sans', Helvetica, Arial, sans-serif;
	color: #808b8d;
}
html, body, iframe, header, footer, main, aside, nav, section, article, div,
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, hr, blockquote, pre,
a, address, del, em, strong, sub, sup, i, figure, figcaption, img,
form, fieldset, legend, label, input, select, textarea, button,
table, thead, tbody, tfoot, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	background: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body, iframe, header, footer, main, aside, nav, section, article, div,
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, hr, blockqoute, pre, figure, figcaption,
form, fieldset, legend, label, input, select, textarea, button {
	display: block;
}
body.ready {
	opacity: 1;
}
/*button */
.button {
	display: inline-block;
	border: 2px solid #2d3e50;
	background: #2d3e50;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	transition: background 0.3s, color 0.3s;
}
.button:hover {
	background: transparent;
	color: #2d3e50;	
}
/**/
.block-about {
	text-align: center;
}
.block-about h2 {
	margin-bottom: 24px;
	font-size: 24px;
	line-height: 30px;
	color: #000;
}
.block-about p {
	margin-bottom: 30px;
	line-height: 20px;
}
.block-about img {
  display: block;
  width: 100%;
  height: auto;
}
.block-about .button {
	margin: -10px 0 30px;
	padding: 2px 15px 0;
	border: 1px solid #2d3e50;
	background: #ecf0f1;
	font-size: 12px;
	line-height: 30px;
	color: #2d3e50;
}
.block-about .button:hover {
	background: #2d3e50;
	color: #ecf0f1;
}
.block-about .owl-prev,
.block-about .owl-next {
	position: absolute;
	top: 50%;
	width: 30px;
	margin-top: -21px;
	font-size: 42px;
	color: #fff;
	transition: color 0.3s;
}
.block-about .owl-prev:hover,
.block-about .owl-next:hover {
	color: #2d3e50;
}
.block-about .owl-prev {
	left: 20px;
}
.block-about .owl-next {
	right: 20px;
}
.block-about .owl-prev i,
.block-about .owl-next i {
	display: block;
}

input,
select,
textarea {
	/**/
	width: 100%;
	height: 30px;
	padding: 9px 15px;
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	font: 400 14px/20px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #000;
	appearance: none;
	-webkit-appearance: none;
	transition: border-color 0.3s;
}



/**/
/* reset */
/**/
html, body, iframe, header, footer, main, aside, nav, section, article, div,
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, hr, blockquote, pre,
a, address, del, em, strong, sub, sup, i, figure, figcaption, img,
form, fieldset, legend, label, input, select, textarea, button,
table, thead, tbody, tfoot, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	background: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body, iframe, header, footer, main, aside, nav, section, article, div,
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, hr, blockqoute, pre, figure, figcaption,
form, fieldset, legend, label, input, select, textarea, button {
	display: block;
}
html, body {
	-webkit-text-size-adjust: none;
}
dl, dt, dd, ul, ol, li {
	list-style: none;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
a, button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}


.logo {
	float: left;
}
..{width:20px;}
.idioma{
float: right;
height:120px;
}
.block-cont select {

	}
.logo img {
	display: block;
}

button {
	display: block;
}
a, button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
/**/
/* page */
/**/
.page {
	overflow: hidden;
}
.page-boxed {
	max-width: 1230px;
	margin: 0 auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.page-header-top {
	padding: 2px;
	background: #2d3e50;
	text-align: right;
}
.page-header-top-mini{
	padding: 1px 0;
	background: #61B4D4;
	text-align: right;
}
.page-header-top-mini-texto{
	padding: 10px 90px;
    
	background: #61B4D4;
	text-align: left;
	margin-bottom: 30px;
	font-size: 15px;
	
	color: #fff;
}
.page-header-bottom {
	position: relative;
	background: rgba(255,255,255,0.95);
}
.page-header-bottom > div {
	position: relative;
}
.page-header-bottom + div {
	position: absolute;
	left: -9999px;
	height: 110px;
	transition: height 0.3s;
}
noindex:-o-prefocus, .page-header-bottom + div { /* opera hack */
	transition: none;
}
.page-header-bottom-alt {
	background: #2d3e50;
}
.page-header-bottom.fixed {
	position: fixed;
	z-index: 200;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.page-header-bottom.fixed + div {
	position: static;
	display: block;
	height: 80px;

}

/**/
/* social nav */
/**/
.social-nav {
	margin-bottom: 40px;
	font-size: 24px;
	text-align: center;
}
.social-nav-header{
	margin-bottom: 4px;
	font-size: 16px;
	text-align: right;
}
.social-nav-header a {
	
	vertical-align: middle;
	margin-left: 15px;
	color: #fff;
	opacity: 0.8;
	display: inline-block;
}
.social-nav a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 90px;
	color: #fff;
	opacity: 0.8;
	transition: opacity 0.3s;
}
.social-nav a:hover {
	opacity: 1;
}
.social-nav a:first-child {
	margin-left: 0;
}
@media screen and (max-width: 1200px) { /* laptop */
	.social-nav a {
		margin-left: 70px;
	}
}
@media screen and (max-width: 980px) { /* pad */
	.social-nav a {
		margin-left: 50px;
	}
}
@media screen and (max-width: 767px) { /* phone */
	.social-nav a {
		margin-left: 20px;
	}
}
@media screen and (max-width: 479px) { /* mini phone */
	.social-nav {
		font-size: 20px;
	}
	.social-nav a {
		margin-left: 10px;
	}
}

/**/
/* social nav 2 */
/**/
.social-nav-2 {
	margin-bottom: 40px;
	padding: 24px 0;
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	font-size: 18px;
	text-align: center;
}
.social-nav-2 a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	color: #fff;
	opacity: 0.8;
	transition: opacity 0.3s;
}
.social-nav-2 a:hover {
	opacity: 1;
}
.social-nav-2 a:first-child {
	margin-left: 0;
}
@media screen and (max-width: 1200px) { /* laptop */
	.social-nav-2 a {
		margin-left: 15px;
	}
}
@media screen and (max-width: 980px) { /* pad */
	.social-nav-2 a {
		margin-left: 10px;
	}
}


/*idioma*/
.idioma{
float: right;
height:120px;
}
/* footer*/
.page-footer {
	position: relative;
	background: #2d3e50;
}
.page-footer-pic {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: 50% 50%;
	background-size: cover;
	opacity: 0.15;
}
.page-footer-section {
	position: relative;
	padding: 2px;
}
.page-footer-section + .page-footer-section {
	border-top: 2px solid rgba(255,255,255,0.3);
}
@media screen and (max-width: 1200px) { /* laptop */
.page-boxed {
		max-width: 1000px;
	}
}
@media screen and (max-width: 980px) { /* pad */
	.page-boxed {
		max-width: 788px;
	}
}
@media screen and (max-width: 767px) { /* phone */
	.page-header-bottom.fixed {
		position: relative;
		box-shadow: none;
	}
	.page-header-bottom.fixed + div {
		display: none;
	}
}
/*grid */
/* grid */
/**/
.grid-row {
	width: 1000px;
	margin: 0 auto;
}
 
 .grid-rowIdioma {
	width: 300px;
	margin: 0 auto;
}
.grid-row:after {
	content: '';
	display: table;
	clear: both;
}
.grid-col {
	float: left;
	margin-left: 30px;
}
.grid-col:first-child {
	margin-left: 0;
}
.grid-col-right {
	float: right;
	margin-right: 30px;
	margin-left: 0;
}
.grid-col-right:first-child {
	margin-right: 0;
}
.grid-col-2 {
	width: 170px;
}
.grid-col-3 {
	width: 270px;
}
.grid-col-4 {
	width: 370px;
}
.grid-col-5 {
	width: 470px;
}
.grid-col-6 {
	width: 570px;
}
.grid-col-7 {
	width: 670px;
}
.grid-col-8 {
	width: 770px;
}
.grid-col-9 {
	width: 870px;
}
@media screen and (max-width: 1200px) { /* laptop */
	.grid-row {
		width: 940px;
	}
	.grid-col {
		margin-left: 20px;
	}
	.grid-col-right {
		margin-right: 20px;
		margin-left: 0;
	}
	.grid-col-2 {
		width: 140px;
	}
	.grid-col-3 {
		width: 220px;
	}
	.grid-col-4 {
		width: 300px;
	}
	.grid-col-5 {
		width: 380px;
	}
	.grid-col-6 {
		width: 460px;
	}
	.grid-col-7 {
		width: 540px;
	}
	.grid-col-8 {
		width: 620px;
	}
	.grid-col-9 {
		width: 700px;
	}
}
@media screen and (max-width: 980px) { /* pad */
	.grid-row {
		width: 738px;
	}
	.grid-col {
		margin-left: 18px;
	}
	.grid-col-right {
		margin-right: 18px;
		margin-left: 0;
	}
	.grid-col-2 {
		width: 108px;
	}
	.grid-col-3 {
		width: 171px;
	}
	.grid-col-4 {
		width: 738px;
	}
	.grid-col-5 {
		width: 297px;
	}
	.grid-col-6 {
		width: 360px;
	}
	.grid-col-7 {
		width: 423px;
	}
	.grid-col-8 {
		width: 486px;
	}
	.grid-col-9 {
		width: 549px;
	}
}
@media screen and (max-width: 767px) { /* phone */
	.grid-row {
		width: auto;
		margin: 0 20px;
	}
	.grid-col {
		float: none;
		width: 100%;
		margin: 0;
	}
}

/**/
/* copyrights */
/**/
.copyrights {
	float: left;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.8);
}
.copyrights a {
	text-decoration: none;
	color: #fff;
	transition: opacity 0.3s;
}
.copyrights a:hover {
	text-decoration: underline;
}
@media screen and (max-width: 980px) { /* pad */
	.copyrights {
		float: none;
		text-align: center;
	}
}
/**/
/* secondary nav */
/**/
.secondary-nav {
	float: right;
	margin-bottom: 40px;
	font-size: 12px;
	line-height: 18px;
	text-align: right;
	text-transform: uppercase;
	color: rgba(255,255,255,0.8);
}
.secondary-nav a {
	text-decoration: none;
	color: rgba(255,255,255,0.8);
	transition: color 0.3s;
}
.secondary-nav a:hover {
	color: rgba(255,255,255,1);
}
@media screen and (max-width: 980px) { /* pad */
	.secondary-nav {
		float: none;
		text-align: center;
	}
}

/**/
/* blocks */
/**/
.block {
	margin-bottom: 90px;
}
.block-head {
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 38px;
	text-transform: uppercase;
	color: #000;
}
.block-head-1 {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 38px;
	border-bottom: 1px solid #2d3e50;
	text-align: center;
}
.block-head-1 i {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 36px;
	height: 36px;
	margin: -18px 0 0 -18px;
	border-radius: 50%;
	background: #2d3e50;
	box-shadow: 0 0 0 10px #fff;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	color: #fff;
}
.block-head-2 {
	position: relative;
	margin-bottom: 45px;
	padding-bottom: 30px;
	text-align: center;
}
.block-head-2:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 10px;
	height: 10px;
	margin: -5px 0 0 -5px;
	background: #2d3e50;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.block-head-2:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 370px;
	height: 2px;
	margin: -1px 0 0 -185px;
	background: rgba(0,0,0,0.05);
}
.block-head-2 p {
	max-width: 770px;
	margin: 20px auto 0;
	font-size: 14px;
	line-height: 20px;
	text-transform: none;
}
.block-head-2 i {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 10px;
	height: 10px;
	margin: -5px 0 0 -5px;
}
.block-head-2 i:after,
.block-head-2 i:before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #2d3e50;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.block-head-2 i:after {
	right: -15px;
}
.block-head-2 i:before {
	left: -15px;
}
.block-head-3 {
	position: relative;
	padding-bottom: 38px;
	border-bottom: 1px solid #2d3e50;
	text-align: center;
}
.block-head-3 i {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 36px;
	height: 36px;
	margin: -18px 0 0 -18px;
	border-radius: 50%;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	color: #fff;
}
.block-head-3 i:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #2d3e50;
	border-radius: 20% 0 20% 0;
	box-shadow: 0 0 0 10px #fff;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);	
}
.block-head-3 i:before {
	position: relative;
	z-index: 1;
}
.block-head-4 {
	position: relative;
	padding-bottom: 15px;
	border-bottom: 2px solid #ecf0f1;
	font-size: 24px;
	line-height: 1;
	text-transform: none;
}
.block-head-4:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: -6px;
	width: 10px;
	height: 10px;
	border-radius: 20% 0 20% 0;
	background: #2d3e50;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.block-head-4 span {
	display: block;
	margin-top: 15px;
	font-size: 18px;
	color: #808b8d;
}
.block-head-5 {
	text-align: center;
}
.block-head-5 i {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto 20px;
	border: 2px solid #808b8d;
	border-radius: 50%;
	font-size: 28px;
	line-height: 50px;
	color: #808b8d;
}
.block-head-6 {
	text-align: center;
}
.block-head-6 span {
	display: block;
	max-width: 770px;
	margin: 20px auto 0;
	font-size: 14px;
	line-height: 24px;
	text-transform: none;
	color: #808b8d;
}
.block-head-7 {
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #2d3e50;
	font-size: 24px;
	line-height: 30px;
}
.block-head-7:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: -7px;
	width: 13px;
	height: 13px;
	border-radius: 20% 0 20% 0;
	background: #2d3e50;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.page-content-section-alt .block-head-1 i {
	box-shadow: 0 0 0 10px #ecf0f1;
}
.page-content-section-bg .block-head {
	border-color: #fff;
	color: #fff;
}
.page-content-section-bg .block-head-1 i {
	box-shadow: none;
}
.page-content-section-bg .block-head-2:before {
	background-color: rgba(255,255,255,0.2);
}
.page-content-section-bg .block-head-2:after,
.page-content-section-bg .block-head-2 i:after,
.page-content-section-bg .block-head-2 i:before {
	background-color: #fff;
}
.page-content-section-bg .block-head-2 p {
	color: #ecf0f1;
}
.page-content-section-bg .block-head-3 i {
	color: #2d3e50;
}
.page-content-section-bg .block-head-3 i:after {
	background: #fff;
	box-shadow: none;
}
.page-content-section-bg .block-head-5 i {
	border-color: #fff;
	color: #fff;
}

/*form*/
input,
select,
textarea {
	/**/
	width: 100%;
	height: 30px;
	padding: 9px 15px;
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	font: 400 14px/20px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #000;
	appearance: none;
	-webkit-appearance: none;
	transition: border-color 0.3s;
}

/**/
/* map */
/**/
.block-map {
	border: 10px solid #ecf0f1;
	border-radius: 10px;	
}
.block-map .block-cont {
	height: 480px;
	opacity: 0.5;
}
@media screen and (max-width: 1200px) { /* laptop */
	.block-map .block-cont {
		height: 320px;
	}
}
@media screen and (max-width: 980px) { /* pad */
	.block-map .block-cont {
		height: 288px;
	}
}
@media screen and (max-width: 767px) { /* phone */
	.block-map .block-cont {
		height: 260px;
	}
}
@media screen and (max-width: 479px) { /* mini phone */
	.block-map .block-cont {
		height: 235px;
	}
}

/* FORMULARIO DE BUSQUEDA*/
/**/
.deco-none {
text-decoration: none !important;
}
a {
color: #428bca;
text-decoration: none;
}
li.test-class{

}
.show{display:block!important}
.container{padding-top:10px;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
 .container:before,.container:after{display:table;content:" "}
 .container:after{clear:both}.container:before,.container:after{display:table;content:" "}
 .container:after{clear:both}.row{margin-right:-15px;margin-left:-15px}
.nav{padding-left:0;margin-bottom:0;list-style:none}
 .nav:before,.nav:after{display:table;content:" "}
 .nav:after{clear:both}.nav:before,.nav:after{display:table;content:" "}
 .nav:after{clear:both}.nav>li{position:relative;display:block}
 .nav>li>a{position:relative;display:block;padding:10px 15px}
 .nav>li>a:hover,.nav>li>a:focus{text-decoration:none;background-color:#eee}
 .nav>li.disabled>a{color:#999}.nav>li.disabled>a:hover,.nav>li.disabled>a:focus{color:#999;text-decoration:none;cursor:not-allowed;background-color:transparent}
 .nav .open>a,.nav .open>a:hover,.nav .open>a:focus{background-color:#eee;border-color:#428bca}
 .nav .nav-divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}
 .nav>li>a>img{max-width:none}
 
 .nav-tabs>li{float:left;margin-bottom:-1px}
 .nav-tabs>li>a{margin-right:2px;line-height:1.428571429;border:1px solid #e5e5e5;border-radius:4px 4px 0 0}
 .nav-tabs>li>a:hover{border-color:#eee #eee #ddd}.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,
 .nav-tabs>li.active>a:focus{
    background: #61B4D4;
 	color:#fff;cursor:default;border:1px solid #ddd;
 }
 .nav-tabs.nav-justified{width:100%;border-bottom:0}.nav-tabs.nav-justified>li{float:none}
 .nav-tabs.nav-justified>li>a{text-align:center}
 @media(min-width:768px){
 	.nav-tabs.nav-justified>li{display:table-cell;width:1%}}
 .nav-tabs.nav-justified>li>a{margin-right:0;border-bottom:1px solid #ddd}.nav-tabs.nav-justified>.active>a{border-bottom-color:#fff}
 
 
/**/
/* catalog toolbar */
/**/
.block-catalog-toolbar {
	margin: 2px;
}

.block-catalog-toolbar .view {
	float: right;
	margin-top: 10px;
	line-height: 30px;
}
.block-catalog-toolbar .view a {
	display: block;
	float: right;
	width: 28px;
	height: 28px;
	margin-left: 10px;
	border: 1px solid #ddd;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	color: #ddd;
	transition: border 0.3s, color 0.3s;
}
.block-catalog-toolbar .view a:hover {
	border-color: #2d3e50;
	color: #2d3e50;	
}
.block-catalog-toolbar .view .active,
.block-catalog-toolbar .view .active:hover {
	border-color: #2d3e50;
	background: #2d3e50;
	color: #fff;
	cursor: default;
}
.block-catalog-toolbar .select {
	float: left;
	width: 200px;
	margin: 10px 10px 0 0;
}
.block-catalog-toolbar .select:after {
	right: 13px;
	box-shadow: 0 0 0 12px #fff;
}
.block-catalog-toolbar .select select {
	height: 30px;
	padding: 4px 10px;
}

.block-catalog-toolbar .input {
	float: left;
	width: 200px;
	margin: 10px 10px 0 0;
}
.block-catalog-toolbar .input:after {
	right: 13px;
	box-shadow: 0 0 0 12px #fff;
}
.block-catalog-toolbar .input input {
	height: 30px;
	padding: 4px 10px;
}
.block-catalog-toolbar .input_fecha {
	float: left;
	width: 100px;
	margin: 10px 10px 0 0;
}
.block-catalog-toolbar .input_fecha:after {
	right: 13px;
	box-shadow: 0 0 0 12px #fff;
}
.block-catalog-toolbar .input_fecha input {
	height: 30px;
	padding: 4px 10px;
}
/* input hora*/

.block-catalog-toolbar .input_hora {
	float: left;
	width: 60px;
	margin: 10px 10px 0 0;
}
.block-catalog-toolbar .input_hora:after {
	right: 13px;
	box-shadow: 0 0 0 12px #fff;
}
.block-catalog-toolbar .input_hora input {
	height: 30px;
	padding: 4px 10px;
}
/**/
.block-catalog-toolbar .input_hora {
	float: left;
	width: 60px;
	
}
.block-catalog-toolbar .input_hora:after {
	right: 13px;
	box-shadow: 0 0 0 12px #fff;
}
.block-catalog-toolbar .radio input {
	height: 30px;
	
}

.block-catalog-toolbar .input_ciudad input {
	/*height: 30px;
	padding: 4px 10px;*/
	float: left;
	width: 350px;
	margin: 10px 10px 0 0;
}
.block-catalog-toolbar .direction_buscar {
	display: block;
	float: left;
	width: 100px;
	height: 30px;
	padding:5px;
	margin: 10px;
	border: 1px solid #2d3e50;
	background: #61B4D4;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	transition: background 0.3s, color 0.3s;
}
.block-catalog-toolbar .direction {
	display: block;
	float: left;
	width: 28px;
	height: 28px;
	margin: 10px 10px 0 0;
	border: 1px solid #2d3e50;
	background: #61B4D4;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	transition: background 0.3s, color 0.3s;
}
.block-catalog-toolbar .direction:hover {
	background: #fff;
	color: #2d3e50;
}
@media screen and (max-width: 980px) { /* pad */
	.block-catalog-toolbar .select {
		width: 100px;
	}
}