.amp-formulario-buscador {
	position: relative;
	max-width: 1000px;
	#tsucursal {
		display: none;
	}
	&-title1 {
		display: inline-block;
		width: 120px;
    	margin: 0 0 5px 401px;
	    font-weight: bold;
	}
	&-title2 {
		display: inline-block;
		width: 120px;
    	margin: 0 0 5px 155px;
	    font-weight: bold;
	}
	&-estacion {
		width: 326px;
	}
	.campoleft {
		max-height: 32px;
		margin-bottom: 15px;
		.ui-selectmenu-button {
			width: 100%;
		}
	}
	&-calendario-input {
		cursor: pointer;
		&:hover {
			background-color: $grey-light
		}
	}
	&-container-boton.campoleft {
		overflow: initial;
	}
	.boton {
		border: 1px solid black;
	}
	&-container-checkbox {
		width: 100%;
		overflow: hidden;
	}
	&-check {
		&-label {
			cursor: pointer;
			&:before {
				width: 15px;
				height: 15px;
				background: $blue-bg;
				vertical-align: middle;
				padding: 2px;
				cursor: pointer;
	 			font-family: FontAwesome;
				display: inline-block;
				cursor: pointer;
				letter-spacing: 10px;
				content: "";
		 		color: $white;	
			}
		}
 		&-input {
 			display: none;
 		}
	}
}
.amp-formulario-buscador-check-input:checked + .amp-formulario-buscador-check-label:before {
	content: "\f00c";
	letter-spacing: 5px;
	font-size: 14px\9;
}
@media all and (-ms-high-contrast:none) {
	.amp-formulario-buscador-check-input:checked + .amp-formulario-buscador-check-label:before { font-size: 14px } /* IE10 */
	*::-ms-backdrop, .amp-formulario-buscador-check-input:checked + .amp-formulario-buscador-check-label:before { font-size: 14px; } /* IE11 */
}

@media (max-width: $mobile) {
	.amp-formulario-buscador {
		&-check-label:before {
			margin-left: 9px;
		}		
	}	
}
@media (min-width: $min-tablets-vertical) and (max-width: $tablets-vertical) {
	.amp-formulario-buscador {
		.campoleft {
			padding: 0 5px;
		}
		&-container-boton.campoleft {
			float: right;
		}
		&-check-label:before {
			margin-left: 6px;
		}		
	}
}
@media (min-width: $min-tablets) and (max-width: $tablets) {
	.amp-formulario-buscador {

		.amp-space-left-10 {
		    margin-left: 10px;
		}
		.amp-space-left-30 {
		    margin-left: 30px;
		}
		&-container-boton {
			position: absolute;
			top: 17px;
			right: 0;
		}
	
	}
}
@media (min-width: $desktop) {
	.amp-formulario-buscador {
		&-container-boton {
			position: absolute;
			top: 17px;
			right: 0;
		}
	}
}
