.amp-footer {
	background: $blue-bg;
	padding: 30px 30px;
	color: $white;
	    
	&-contenido {
		a {
			font-size: 2.3em;
			color: $white;
		}
		&-social {
			float: right;
			a {
				margin-left: 60px;
				font-size: 1.9em;
				color: $white;
			}
		}
		&-copyright {
	    	text-align: center;
	    	margin-top: 10px;
		}
	}
}