.amp-footer {
	background: $blue-bg;
	padding: 30px 0;
	color: $white;
	    
	&-contenido {
		a {
			font-size: 2.3em;
			color: $white;
		}
		&-social {
			float: right;
			a {
				margin-left: 53px;
				margin-top: 4px;
				font-size: 1.9em;
				color: $white;
				&:first-of-type {
					margin-left: 0;
				}
			}
		}
		&-copyright {
	    	text-align: center;
	    	margin-top: 10px;
		}
	}
}
@media (max-width: $mobile) {
	.amp-footer {
		padding: 30px 0;
		&-contenido {
			&-social {
				a {
					margin-left: 20px;
				}
			}
		}
	}
}