*:before, *:after 
{
	
	 -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

#cabecera
{
	border-bottom:8px solid #f4f1f1;
	/*min-width: 1100px;/*1270px;*/
	
	
}



.ajustar
{
	
	border:none;
}

.oculta
{
	display:none;
}


.publicidad
{
	margin:auto;
	
	
}

.publicidad .oneByOne1
{
	
	 background: url("../images/moover/moover_shadow.png") no-repeat scroll center top #63B4D2;
	 clear: both;
	 
}

.publicidad .oneByOne1 #obo_slider .oneByOne_item span.txt1, .publicidad .oneByOne1 #obo_slider .oneByOne_item span.txt2, .publicidad .oneByOne1 #obo_slider .oneByOne_item span.txt3 
{
    color: #FFFFFF !important;
}


#stationOrig
{
	width:100%;
	
}

#stationDest
{
	width:100%;
	
}

#hinis-button,#hfins-button
{

/* 	border:none; */
    border: 1px solid #E3E3E3;
    height: 33px;
}

.sinborde
{
	border:none;
}


.ui-selectmenu-button span.ui-icon
{
	margin-top:-8px;
}

/***********************horas minutos********************************/
.seleccion
{
/* 	border: 1px solid #E3E3E3; */
/*     float: left; */
/*     -moz-appearance: none; */
/*     -webkit-appearance: none; */
/*     appearance: none; */
/*     -ms-appearance: none; */
     width:70px;
     float:left;
}



.ui-buttonset
{
	display:block;
	
}


.ui-selectmenu-text
{
/* 	padding-bottom: 0.6em; */
/* 	margin-left:-8px; */
	
}

.ui-selectmenu-button span.ui-selectmenu-text 
{
	padding-top:0.6em;
	padding-bottom: 0em;
}





/***************************buscando coches********************************/

#warningGradientOuterBarG{
height:50px;
width:400px;
border:3px solid #FFFFFF;
overflow:hidden;
background-color:#63B4D2;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63B4D2), to(#FFFFFF));
background: -moz-linear-gradient(top, #63B4D2, #FFFFFF);
background: -webkit-linear-gradient(top, #63B4D2, #FFFFFF);
background: -ms-linear-gradient(top, #63B4D2, #FFFFFF);
background: -o-linear-gradient(top, #63B4D2, #FFFFFF);
background: linear-gradient(top, #63B4D2, #FFFFFF);
margin:0 0 0 36%;
}

.warningGradientBarLineG{
background-color:#63B4D2;
float:left;
width:35px;
height:300px;
margin-right:60px;
margin-top:-70px;
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

.warningGradientAnimationG{
width:590px;
-moz-animation-name:warningGradientAnimationG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:warningGradientAnimationG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:warningGradientAnimationG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:warningGradientAnimationG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:warningGradientAnimationG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-timing-function:linear;
}

#warningGradientFrontBarG{
}

@-moz-keyframes warningGradientAnimationG{
0%{
margin-left:-95px;
}

100%{
margin-left:0px;
}

}

@-webkit-keyframes warningGradientAnimationG{
0%{
margin-left:-95px;
}

100%{
margin-left:0px;
}

}

@-ms-keyframes warningGradientAnimationG{
0%{
margin-left:-95px;
}

100%{
margin-left:0px;
}

}

@-o-keyframes warningGradientAnimationG{
0%{
margin-left:-95px;
}

100%{
margin-left:0px;
}

}

@keyframes warningGradientAnimationG{
0%{
margin-left:-95px;
}

100%{
margin-left:0px;
}

} 



.cargandobusqueda
{
	margin-top:50px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    margin-bottom:20px;

}

.mensaje
{
	margin:10% 0 0 45%;
	
}


.ui-datepicker-title
{
	color:white;
}












