.ui-buttonset .ui-button {
    margin-right: .1em;
    border-radius: 5px 5px 0 0;
}
.ui-button-text-only .ui-button-text {
    padding: 10px 15px;
}
.amp-contenedor-botones {
    font-size: 1.4em;
}
.amp-boton-icono {
    width: 33px;
    padding: 7px 4px ;
    border: 1px solid $grey-light;
    display:table-cell;
    background: $blue-bg;
    color: $white;
    font-size: 1.36em;
    text-align: center;
}
@media (min-width: $tablets-vertical) and (max-width: $tablets) {
    .amp-boton-icono {
        width: 33px;
    }
}
.boton {
  
    background: #61b4d4;
    color: white;
    vertical-align: middle;
    border: 1px solid $grey-light;
    height: 34px;
   }
.boton:hover {
   background: #28597a;
   color: #ccc;
   }
.amp-lista-boton {
    margin-top: 14px;
    float: right;
}
