* {
	box-sizing: border-box;
}

input[type="text"] {
	padding: 9px;
	border: 1px solid $grey-light;
}

//margenes en proporcion aurea (redondeado)
.amp-space-down-10 {
	margin-bottom: 10px;
}
.amp-space-down-20 {
	margin-bottom: 20px;
}
.amp-space-down-30 {
	margin-bottom: 30px;
}
.amp-space-down-50 {
	margin-bottom: 49px;
}
.amp-space-down-80 {
	margin-bottom: 80px;
}
.amp-space-down-130 {
	margin-bottom: 130px;
}


$porcentage: 100;
$max-width: 1200px;

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

$max-width-stripped: strip-units($max-width);
$offset-step-px: 5;

// phones
$mobile: 599px;

// phones landscape
$mobile-landscape: new-breakpoint(min-width 533px max-width 599px);
// tablets 
$tablets: 1254px;
$tablets-vertical: 1023px;

//desktops
$desktop: 1255px;




$offset-xs: $max-width-stripped / 2;
@while $offset-xs > 0 {
  .offset-xs-#{$offset-xs} {
    margin-left: #{$offset-xs}px;
  }

  $offset-xs: $offset-xs - $offset-step-px;
}

@media (min-width: $desktop) {
  $widthNumber: $max-width-stripped;
  @while $widthNumber > 0 {
    .amp-width-#{$widthNumber} {
      display: block;
      float: left;
      width: #{$widthNumber}px;
    }

    $widthNumber: $widthNumber - 5;
  }

  $spaceNumber: $max-width-stripped / 2;
  @while $spaceNumber > 0 {
    .amp-space-left-#{$spaceNumber} {
      margin-left: #{$spaceNumber}px;
    }

    $spaceNumber: $spaceNumber - $offset-step-px;
  }
}

/* @media (max-width: $desktop) {
	.campoleft {
		float: none;
	}
} */
[class*="amp-width"] {
  display: block;
  width: 100%;
}
.amp-formulario-buscador {
  [class*="amp-width"] {
    display: block;
    width: 100%;
  }
}
input {
  border-bottom: 10px;
}
