/*Generales*/
$blue-bg: #61B4D4; 		//header, footer, lista, revolution, botones
$dark-blue: #2d3e50; 	//Colors Slyder
$blue-link: #4B8CEB; 	//lista
$white: white; 			//header, footer, lista, botones
$grey-light: #E3E3E3; 	//lista, botones, boxes
$grey-text: #808b8d;	//header, text-information