.pull-right {
	float: right;
}
.pull-text-right {
	text-align: right;
}
.amp-text-center {
	text-align: center;
}
.amp-hidden {
	display: none;
}
.campoleft {
	float:left;
}
.amp-clear-floats  {
    overflow: hidden;
}